
header {
  font-size: 20px;
  font-weight: bold;
}

nav {
  border: 1px solid black;
}

nav a {
  padding-right: 30px;
  color: black;
}

#Picture {
  float: left;
}

#Article {
  padding: 10px;
}

footer {
  float: left;
}

@media screen and (max-width: 675px) {
  nav a {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  #Picture {
    float: none;
  }
}
